.logs {
	display: none;
}

body {
	background: #3d3d3d;
	color: #f3f3f3;
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	background: #1e5799;
	box-sizing: border-box;
	padding: .5em;
	margin: 0 0 1em 0;
}
.content {
	padding: 0 .5em;
}
[logout], [unlink] {
	display: none;
}
.pull-right {
	float: right;
}


.class-icons {
	margin-top: 1em;
	font-weight: bold;
	text-align: center;
}
.class-icons .vs {
	display: inline-block;
	font-size: 2em;
	position: relative;
	bottom: .4em;
}
.class-icons [player-class],
.class-icons [player-hero], 
.class-icons [opponent-class],
.class-icons [opponent-hero] {
	display: inline-block;
	width: 3em;
	height: 3em;
	margin: 0 .3em;
	background-size: cover;
}

.class-icons span.class-icon.medivh,
.class-icons span.class-icon.jaina-proudmoore {
	background-image: url('/images/mage.png');
}
.class-icons span.class-icon.thrall {
	background-image: url('/images/shaman.png');
}
.class-icons span.class-icon.magni-bronzebeard,
.class-icons span.class-icon.garrosh-hellscream {
	background-image: url('/images/warrior.png');
}

.class-icons span.class-icon.valeera-sanguinar {
	background-image: url('/images/rogue.png');
}
.class-icons span.class-icon.uther-lightbringer {
	background-image: url('/images/paladin.png');
}
.class-icons span.class-icon.rexxar,
.class-icons span.class-icon.alleria-windrunner {
	background-image: url('/images/hunter.png');
}
.class-icons span.class-icon.malfurion-stormrage {
	background-image: url('/images/druid.png');
}
.class-icons span.class-icon.gul-dan {
	background-image: url('/images/warlock.png');
}
.class-icons span.class-icon.anduin-wrynn {
	background-image: url('/images/priest.png');
}



.class-icons span.hero-portrait.medivh {
	background-image: url('/images/heros/medivh.png');
}
.class-icons span.hero-portrait.jaina-proudmoore {
	background-image: url('/images/heros/jaina-proudmoore.png');
}
.class-icons span.hero-portrait.thrall {
	background-image: url('/images/heros/thrall.png');
}
.class-icons span.hero-portrait.magni-bronzebeard {
	background-image: url('/images/heros/magni-bronzebeard.png');
}
.class-icons span.hero-portrait.garrosh-hellscream {
	background-image: url('/images/heros/garrosh-hellscream.png');
}
.class-icons span.hero-portrait.valeera-sanguinar {
	background-image: url('/images/heros/valeera-sanguinar.png');
}
.class-icons span.hero-portrait.uther-lightbringer {
	background-image: url('/images/heros/uther-lightbringer.png');
}
.class-icons span.hero-portrait.rexxar {
	background-image: url('/images/heros/rexxar.png');
}
.class-icons span.hero-portrait.alleria-windrunner {
	background-image: url('/images/heros/alleria-windrunner.png');
}
.class-icons span.hero-portrait.malfurion-stormrage {
	background-image: url('/images/heros/malfurion-stormrage.png');
}
.class-icons span.hero-portrait.gul-dan {
	background-image: url('/images/heros/gul-dan.png');
}
.class-icons span.hero-portrait.anduin-wrynn {
	background-image: url('/images/heros/anduin-wrynn.png');
}

.class-icons .game {
	display: none;
}
.class-icons .won,
.class-icons .loss {
	display: none;
	font-size: 2.5em;
}
.class-icons.victory .won,
.class-icons.defeat .loss {
	display: block;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: show;
}
.class-icons.started .game {
	display: block;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: show;
}
@-webkit-keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* socket server status */
[status-icon] {
	color: #E05050;
}
[status-icon].connected {
	color: #508FE0;
}
[status-icon].ping {
	-webkit-animation-duration: 2s;
	-webkit-animation-name: blink;
}


/* game-log status*/
[game-status-icon] {
	color: #E05050;
}
[game-status-icon].connected {
	color: #508FE0;
}
[game-status-icon].ping {
	-webkit-animation-duration: 2s;
	-webkit-animation-name: blink;
}
@-webkit-keyframes blink {
	50% {
		color: #16AF0D;
	}
	100% {
		color: #508FE0;
	}
}

@-webkit-keyframes inout {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


[submitted] {
	display: none;
	text-align: center;
	font-size: .8em;
	color: #16AF0D;
	margin: 1em 0;
	text-transform: lowercase;
}
[submitted].active {
	display: block;
	opacity: 0;
	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 8s;
	-webkit-animation-name: inout;
}